server:
  port: 18092
spring:
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.0.101:8848
    sentinel:
      transport:
        port: 8719
        dashboard: 192.168.0.101:8080
    alibaba:
      seata:
        tx-service-group: gmall_tx_group
  zipkin:
    base-url: http://192.168.0.101:9411
    discovery-client-enabled: false
    sender:
      type: web
  sleuth:
    sampler:
      rate: 1
  thymeleaf:
    cache: false
  redis:
    host: 192.168.0.101
    port: 6379
  rabbitmq:
    host: 192.168.0.101
    port: 5672
    virtual-host: /admin
    username: admin
    password: admin
feign:
  sentinel:
    enabled: true
mybatis-plus: # mybatis-plus 配置
  global-config:
    db-config:
      id-type: auto # id 策略, 生产应该使用分布式 id. auto 数据库自增

