server:
  port: 8888
spring:
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.0.101:8848
    gateway: # 网关
      routes: # 路由
        - id: pms-route # 路由唯一标识, 商品管理路由
          uri: lb://pms-service # 路由到那里, 路由到服务名对应的服务
          predicates: # 断言
            - Path=/pms/** # 什么样的请求到此路由 进而进入路由该服务. pms 开头的请求 都 路由到 pms-service 服务
        - id: sms-route
          uri: lb://sms-service
          predicates:
            - Path=/sms/**
        - id: ums-route
          uri: lb://ums-service
          predicates:
            - Path=/ums/**
        - id: wms-route
          uri: lb://wms-service
          predicates:
            - Path=/wms/**
        - id: oms-route
          uri: lb://oms-service
          predicates:
            - Path=/oms/**
        - id: search-route
          uri: lb://search-service
          predicates:
            - Path=/search
        - id: index-route    # 同步请求
          uri: lb://index-service
          predicates:
            - Host=www.gmall.com, gmall.com
        - id: index-route    # 异步请求
          uri: lb://index-service
          predicates:
            - Path=/index/**
        - id: item-route
          uri: lb://item-service
          predicates:
            - Host=item.gmall.com

